* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.titulo {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 80px;
}

.subtitulo {
    text-transform: uppercase;
    color: #ae7b5b;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin-top: 80px;
}

.linne {
    width: 105px;
    height: 2px;
    background-color: #ae7b5b;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Header: */

.cabecalho {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 72px;
    width: 100%;
}

.logo {
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
}

.menu {
    display: block;
    margin: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.menu-icon {
    background-color: rgba(0, 0, 0, 0.8);
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
}

/* Banner: */

#banner {
    background-image: url('../barber/img/banner.jpeg');
    background-position: right;
    background-size: cover;
    height: calc(100vh - 72px);
}

.img-logo img {
    width: 200px;
    position: absolute;
    top: 110px;
    right: 100px;
}

.banner {
    display: flex;
    justify-content: end;
    text-align: end;
    margin: auto;
}

.content-banner {
    margin-top: 250px
}

.banner h4 {
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    line-height: 1.2;
}

.banner h1 {
    font-family: 'Merriweather', sans-serif;
    line-height: 1.1;
    font-size: 52px;
    color: #FFF;
}

.banner button {
    width: 230px;
    height: 55px;
    background-color: #ae7b5b;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
}

/* Quem somos: */

#quem-somos {
    background-color: #f8fbf6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-quemsomos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.content-quemsomos-left {
    grid-column: 1 / 4;
    padding-right: 10px;
    margin-left: 30px;
    margin-top: 20px;
}

.content-quemsomos-img {
    grid-column: 4 / 5;
    margin-top: 40px;
    margin-bottom: 40px;
}

.content-quemsomos-right {
    grid-column: 5 / 6;
    padding-left: 40px;
    margin-top: 20px;
}

.content-quemsomos-left p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    padding-bottom: 20px;
}

.content-quemsomos-left span {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    margin-bottom: 20px;
}

.content-quemsomos-left button {
    display: block;
    width: 330px;
    height: 55px;
    background-color: #ae7b5b;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.content-quemsomos-right h3 {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
    font-style: italic;
    font-size: 24px;
}

.content-quemsomos-right b {
    text-transform: uppercase;
}

.content-quemsomos-right-text,
.content-quemsomos-right-hors {
    margin-top: 40px;
    margin-bottom: 40px;
}

.content-quemsomos-right-text {
    font-style: italic;
}

/* Galeria de Fotos: */

#galeria-fotos {
    text-align: center;
}

#galeria-fotos h5 {
    margin-top: 80px;
}

#galeria-fotos h2 {
    margin-top: 30px;
}

.galeria-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
}

.galeria-area-left {
    grid-column: 1 / 2;
}

.galeria-area-center {
    grid-column: 2 / 3;
}

.galeria-area-right {
    grid-column: 3 / 4;
}

.img1,
.img2,
.img3 {
    margin-bottom: 35px;
}

/* Sobre: */

#sobre {
    text-align: center;
    background-color: #d7dbd6;
    padding-top: 60px;
}

.img-fundo-sobre {
    margin: auto;
    padding: 20px;
    width: 500px;
    height: 500px;
    opacity: 0.1;
    padding-top: 100px;
}

.img-fundo-sobre img {
    width: 100%;
}


.texto-sobre {
    display: flex;
    text-align: justify;
}

.texto-esquerda,
.texto-direita {
    margin: 30px;
    line-height: 1.7;
}

.subtitulo-sobre {
    text-transform: uppercase;
    color: #ae7b5b;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin-top: -530px;
}

.titulo-sobre {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 50px;
}

#sobre button {
    width: 335px;
    height: 40px;
    background-color: #ae7b5b;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

/* Barbas Quentes: */

.area5-subtitulo {
    text-transform: uppercase;
    color: #ae7b5b;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin-top: 40px;
}

.area5-titulo {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 50px;
}

.area5-text {
    font-family: 'Open Sans', sans-serif;
    color: #ccc;
    line-height: 1.6;
    font-size: 17px;
}

.area5 {
    max-height: 900px;
}

.imagem1 {
    height: 415px;
    width: 720px;
    background-image: url('../barber/img/d1.png');
    background-position: bottom;
    background-size: cover;
    position: relative;
    top: 70px;
    margin: 0px auto;
}

.imagem2 {
    height: 410px;
    width: 340px;
    position: relative;
    top: -30px;
    right: -840px;
    padding: 20px;
    border: 1px solid #000;
}

.imagem2 img {
    width: 100%;
}

.imagem3 {
    height: 400px;
    width: 610px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: -390px;
    right: -20px;
}

.area5-body {
    height: 360px;
    width: 570px;
    padding: 20px;
    border: 1px solid #FFF;
}

/* Quais são os segredos do corte de cabelo? */

#area6 {
    background-color: #f8fbf6;
}

.area6 {
    padding-right: 120px;
    padding-left: 120px;
}

.area6-body {
    display: flex;
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 50px;
    padding-right: 50px;
}

.area6-text {
    margin-top: 45px;
    width: 50%;
}

.area6-subtitulo {
    text-transform: uppercase;
    color: #ae7b5b;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.area6-titulo {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    margin-top: 20px;
}

.area6-text p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.9;
    font-size: 16px;
}

.area6-linne {
    width: 105px;
    height: 2px;
    background-color: #ae7b5b;
    margin-top: 30px;
    margin-bottom: 30px;
}

.area6-text button {
    width: 335px;
    height: 40px;
    background-color: #ae7b5b;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

.area6-img {
    width: 50%;
}

.area6-img img {
    height: 515px;
    width: 550px;
}

/* Nossos barbeiros: */

#area7 {
    background-color: #d7dbd6;
}

.area7-subtitulo {
    text-transform: uppercase;
    color: #ae7b5b;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 15px;
}

.area7-titulo {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
}

.area7-barbeiros {
    overflow: hidden;
    max-width: 1140px;
    margin: auto;
    padding-bottom: 70px;
}

.section-area7 .sliders {
    width: 1000vw;
    height: 100%;
}

.section-area7 .area7-barbeiro {
    width: 390px;
    height: 100%;
    display: inline-block;
}

.area7-barbeiro-foto img {
    width: 100%;
}

.section-area7 .area7-barbeiro-body {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    justify-content: center;
    align-items: flex-start;
    color: #000000;
    padding-bottom: 30px;
    margin-right: 30px;
}

.area7-barbeiro-desc {
    margin-left: 20px;
    margin-top: 50px;
    text-transform: uppercase;
    color: #ae7b5b;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 1.2;
}

.area7-barbeiro-name {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Merriweather', sans-serif;
    color: #000;
    text-transform: uppercase;
}

/* Depoimentos */

#area8 {
    background-image: url('../barber/img/banner-final.jpeg');
    background-position: center;
    background-size: cover;
}

.area8-background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.area8-body {
    margin: 80px;
    border: 2px solid #FFF;
    width: 865px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.area8-body i {
    color: #ae7b5b;
}

.area8-titulo {
    font-family: 'Merriweather', sans-serif;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    padding: 50px;
}

.area8-desc {
    color: #FFF;
    line-height: 1.8;
    font-size: 20px;
}

/* Rodapé */

.footer-body {
    background-color: #1a1a1a;
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #FFF;
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer-body img {
    width: 100px;
    opacity: 0.8;
}

.footer-social {
    display: inline-flex;
    color: #FFF;
    margin-top: 50px;
    margin-bottom: 25px;
}

.footer-social i {
    padding: 10px;
    cursor: pointer;
}

.footer-body h5 {
    font-size: 16px;
}

.footer-body a {
    text-decoration: none;
    color: #FFF;
}

/* Responsividade */

@media (max-width:450px) {

    #banner {
        background-image: url('../barber/img/banner.jpeg');
        background-position: center;
        background-size: cover;
        height: calc(100vh - 72px);
    }

    .banner h4 {
        color: #FFF;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 1.2;
        margin-top: 50px;
    }

    .banner h1 {
        font-family: 'Merriweather', sans-serif;
        line-height: 1.1;
        font-size: 40px;
        color: #FFF;
    }

    .img-logo img {
        width: 200px;
        position: absolute;
        top: 110px;
        right: 10px;
    }

    .content-quemsomos {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
    }

    .content-quemsomos-left {
        padding-right: 10px;
        margin-left: 0px;
        margin-top: 20px;
    }

    .content-quemsomos-left button {
        margin: auto;
    }

    .content-quemsomos-img {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .content-quemsomos-img img {
        width: 100%;
    }

    .content-quemsomos-right {
        padding-left: 40px;
    }

    .galeria-area {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        margin-right: 10px;
    }

    .galeria-area img {
        width: 100%;
    }

    #galeria-fotos .titulo {
        margin-bottom: 0px;
    }

    .texto-sobre {
        display: block;
    }

    .img-fundo-sobre {
        margin: auto;
        padding: 20px;
        width: 300px;
        height: 300px;
        opacity: 0.1;
        padding-top: 550px;
    }

    .area5 {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .imagem1 {
        width: 100%;
        background-image: url('../barber/img/d1.png');
        background-position: bottom;
        background-size: cover;
        position: relative;
        top: 0;
        right: 0;
    }

    .imagem2 {
        display: none;
    }

    .imagem3 {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: relative;
        top: 0;
        right: 0;
    }

    .area5-body {
        width: 100%;
        height: auto;
        border: 1px solid #FFF;
    }

    .area6 {
        margin-top: 21px;
    }

    .area6-body {
        display: block;
        flex-direction: column;
        padding: 0px;
        margin: 0;
    }

    .area6-img,
    .area6-text {
        width: 100%;
        height: 100%;
    }

    .area6-img img {
        width: 100%;
        height: auto;
    }

    .area6 {
        padding-right: 0px;
        padding-left: 0px;
    }

    .area6-text {
        padding: 20px;
    }

    .area6-button {
        margin: auto;
    }

    .section-area7 .area7-barbeiro {
        max-width: 390px;
        height: 100%;
        display: block;
        padding: auto;
        margin-left: 15px;
        margin-top: 40px;
    }

    .area7-desc {
        margin: auto;
    }

    .area8-body {
        width: auto;
        padding-left: 40px;
        padding-right: 40px;
    }

}

@media (min-width: 450px) and (max-width: 800px) {
    #banner {
        background-image: url('../barber/img/banner.jpeg');
        background-position: center;
        background-size: cover;
        height: calc(100vh - 72px);
    }

    .banner h4 {
        color: #FFF;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 26px;
        line-height: 1.2;
        margin-top: 50px;
    }

    .banner h1 {
        font-family: 'Merriweather', sans-serif;
        line-height: 1.1;
        font-size: 52px;
        color: #FFF;
    }

    .img-logo img {
        width: 200px;
        position: absolute;
        top: 110px;
        right: 30px;
    }

    .content-quemsomos {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
    }

    .content-quemsomos-left {
        padding-right: 10px;
        margin-left: 0px;
        margin-top: 20px;
    }

    .content-quemsomos-left button {
        margin: auto;
    }

    .content-quemsomos-img {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .content-quemsomos-img img {
        width: 100%;
    }

    .content-quemsomos-right {
        padding-left: 40px;
    }

    .content-quemsomos-left p {
        font-family: 'Open Sans', sans-serif;
        line-height: 1.8;
        font-size: 20px;
        padding-bottom: 20px;
    }

    .content-quemsomos-left span {
        font-family: 'Open Sans', sans-serif;
        line-height: 1.8;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .content-quemsomos-right-hors,
    .content-quemsomos-right-text {
        font-size: 20px;
    }

    .galeria-area {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        margin-right: 10px;
    }

    .galeria-area img {
        width: 100%;
    }

    #galeria-fotos .titulo {
        margin-bottom: 0px;
    }

    .texto-sobre {
        display: block;
    }

    .img-fundo-sobre {
        margin: auto;
        padding: 20px;
        width: 300px;
        height: 300px;
        opacity: 0.1;
        padding-top: 500px;
    }

    .area5 {
        width: 110%;
        padding: 0;
        margin: 0;
    }

    .imagem1 {
        width: 110%;
        background-image: url('../barber/img/d1.png');
        background-position: bottom;
        background-size: cover;
        position: initial;
    }

    .imagem2 {
        display: none;
    }

    .imagem3 {
        width: 110%;
        padding: 20px;
        padding-right: 40px;
        padding-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.8);
        position: initial;
    }

    .area5-body {
        width: 100%;
        height: auto;
        padding: 20px;
        border: 1px solid #FFF;
    }

    .container .area5 {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .container .area6 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .area6-body {
        display: block;
        flex-direction: column;
        padding: 0px;
        margin: 0;
    }

    .area6-img,
    .area6-text {
        width: 100%;
        height: 100%;
    }

    .area6-img img {
        width: 100%;
        height: auto;
    }

    .area6 {
        padding-right: 0px;
        padding-left: 0px;
    }

    .area6-text {
        padding: 20px;
    }

    .area6-button {
        margin: auto;
    }

    .section-area7 .area7-barbeiro {
        max-width: 390px;
        height: 100%;
        display: block;
        padding: auto;
        margin-left: 210px;
        margin-top: 40px;
    }

    .area7-desc {
        margin: auto;
    }

    .area8-body {
        width: auto;
        padding-left: 40px;
        padding-right: 40px;
    }
}